/* Með CSS stjórnarðu ´tliti síðunnar, eins og litum, leturgerð, og staðsetningu
innihledsins. En sjálft innihald síðunnar er í HTML kóðanum.
Til þess að læra að gera eitthvað, prófaðu að leita á google af því sem þú vilt vita, til dæmis:
"how to change link color." */

body {
  background-color: #999966;
  color: #800000;
  font-family: "monospace";
  font-weight : 600;
  font-stretch: ultra-expanded;
}
